<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 新手专享</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <style type="text/css">
    </style>
</head>
<body>
<div class="new_user_special_price_page">
    <div class="new_user_special_price">
        <img src="../images/newUserOnly/xszx_01.png"/>
        <div class="price1">
            <span th:text="${#numbers.formatDecimal(newUserProduct.price,0,2)}">247.01</span>
        </div>
    </div>
    <div class="new_user_special_price">
        <img src="../images/newUserOnly/xszx_04.png"/>
        <div class="price2">
            <span th:text="${#numbers.formatDecimal(newUserProduct.price,0,2)}">247.01</span>
        </div>
    </div>
    <a href="/app/article?articleType=SPECIAL_PRICE_GOLD_RULE&terminalType=app">
        <img src="../images/newUserOnly/xszx_06.png"/></a>
    <img src="../images/newUserOnly/xszx_07.png"/>
    <img src="../images/newUserOnly/xszx_08.png"/>
    <div class="buying_record">
        <p><span>135****1234</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>购买成功</span></p>
        <p><span>135****1234</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>购买成功</span></p>
        <p><span>135****1234</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>购买成功</span></p>
        <p><span>135****1234</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>购买成功</span></p>
        <p><span>135****1234</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>购买成功</span></p>
        <p><span>135****1234</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>购买成功</span></p>
    </div>
    <div class="buying_record h_12" style="height:0.3rem;"></div>
    <!--<img src="../images/newUserOnly/xszx_17.png"/>-->


</div>

<div th:replace="include/template::commonJavascript"></div>
<script type="text/javascript">

</script>
</body>
</html>