<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 产品介绍</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <style type="text/css">
    </style>
</head>
<body>
<div class="product_desc_page">
    <img src="../images/productDesc/product_desc_02.jpg"/>
    <img
            src="../images/productDesc/product_desc_03.jpg"/>
    <img src="../images/productDesc/product_desc_04.jpg"/><img
        src="../images/productDesc/product_desc_05.jpg"/>

</div>

<div th:replace="include/template::commonJavascript"></div>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../widget/reveal/jquery.reveal.js"></script>
<script type="text/javascript">

</script>
</body>

</html>