<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 安全保障</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../widget/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <style type="text/css">
    </style>
</head>
<body>
<div class="security_guard_page">
    <img src="../images/securityGuard/aqbz_01.jpg" />
    <img src="../images/securityGuard/aqbz_02.jpg" />
    <img src="../images/securityGuard/aqbz_03.jpg" />
    <img src="../images/securityGuard/aqbz_04.jpg" />
    <img src="../images/securityGuard/aqbz_05.jpg" />
    <img src="../images/securityGuard/aqbz_06.jpg" />
    <img src="../images/securityGuard/aqbz_07.jpg" />
    <img src="../images/securityGuard/aqbz_08.jpg" />
</div>
</body>
</html>