<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 了解产品</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="../css/reveal.css"/>
    <style type="text/css">
    </style>
</head>
<body>
<div id="price_model" class="reveal-modal">
    <img src="../images/understandUs/1.png"/>
</div>
<div id="start_buying_amount_model" class="reveal-modal">
    <img src="../images/understandUs/2.png"/>
</div>
<div id="interst_model" class="reveal-modal">
    <img src="../images/understandUs/3.png"/>
</div>
<div id="real_gold_model" class="reveal-modal">
    <img src="../images/understandUs/4.png"/>
</div>
<div class="understand_us_page">
    <img src="../images/understandUs/lj_01.jpg"/>
    <img src="../images/understandUs/lj_02.jpg"/>
    <img src="../images/understandUs/lj_03.jpg"/>
    <img src="../images/understandUs/lj_04.jpg"/>
    <div class="why_gold">
        <img src="../images/understandUs/lj_05.jpg"/>
        <div class="button">
            <!--价格优势-->
            <a href="#" data-reveal-id="price_model">
                <div class="check_detail">&nbsp;&nbsp;</div>
            </a>
            <!--1元起购-->
            <a href="#" data-reveal-id="start_buying_amount_model">
                <div class="check_detail">&nbsp;&nbsp;</div>
            </a>
            <!--利息优势-->
            <a href="#" data-reveal-id="interst_model">
                <div class="check_detail">&nbsp;&nbsp;</div>
            </a>
            <!--实物优势-->
            <a href="#" data-reveal-id="real_gold_model">
                <div class="check_detail">&nbsp;&nbsp;</div>
            </a>
        </div>
    </div>
    <img src="../images/understandUs/lj_06.jpg"/>
    <img src="../images/understandUs/lj_07.jpg"/>
    <img src="../images/understandUs/lj_08.jpg"/>
    <img src="../images/understandUs/lj_09.jpg"/>
    <img src="../images/understandUs/lj_10.jpg"/>
    <img src="../images/understandUs/lj_11.jpg"/>
    <img src="../images/understandUs/lj_12.jpg"/>
    <!--<img src="../images/understandUs/register_now_btn_14.jpg"/>-->

</div>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../widget/reveal/jquery.reveal.js"></script>
</body>
</html>