<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 商品详情</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../widget/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <style type="text/css">

    </style>
</head>
<body>
<!--<div class="top_title">
    <div class="return"><img src="../images/return.png"/></div>
    <p class="title">商品详情</p>
</div>-->
<input type="hidden" id="token" th:value="${session.token}">
<input type="hidden" id="skuId" th:value="${skuDetailDto.id}">
<div class="gold_market">
    <div class="gold_detail_desc">
        <div class="mui-slider banner-slider pic_list">
            <div class="mui-slider-group ">
                <th:block th:each="goodsImgDto:${skuDetailDto.goodsImgDtoList}">
                    <div class="mui-slider-item"><img th:src="${goodsImgDto.imgUrl}"/></div>
                </th:block>
            </div>
            <div class="mui-slider-indicator">
                <th:block th:each="goodsImgDto,goodsImgDtoStat:${skuDetailDto.goodsImgDtoList}">
                    <div class="mui-indicator mui-active" th:if="${goodsImgDtoStat.index == 0}"></div>
                    <div class="mui-indicator" th:if="${goodsImgDtoStat.index != 0}"></div>
                </th:block>
            </div>
        </div>

    </div>
    <p class="product_name">
        <th:block th:text="${skuDetailDto.goodsName}"></th:block>
    </p>
    <div class="bg_F5F5F5 height20 w_100p"></div>
    <table class="table-6 product-detail-list-table">
        <thead>
        <th colspan="2">产品参数</th>
        </thead>
        <th:block th:each="propertyDto:${skuDetailDto.goodsPropertyDtoList}">
            <tr>
                <td th:text="${propertyDto.propertyName}"></td>
                <td th:text="${propertyDto.propertyValue}"></td>
            </tr>
        </th:block>
    </table>
    <!--产品使用图片维护开始-->
    <div class="product_desc_pic_list">
        <th:block th:utext="${skuDetailDto.goodsDetailDto.content}"></th:block>
    </div>
    <!--产品使用图片维护结束-->
    <div class="fix-height2"></div>
    <button class="buy_sell_button" id="toGoldOrder">立即购买</button>
</div>

<div th:replace="include/template::commonJavascript"></div>
<script type="text/javascript" src="../js/wap/goldMarket4App.js"></script>
<script type="text/javascript" src="../js/wap/goldMarketOrder4App.js"></script>

</body>

</html>