<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfhy.egold.domain.fund.dao.WithdrawMapper">
  <resultMap id="BaseResultMap" type="com.zfhy.egold.domain.fund.entity.Withdraw">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="withdraw_amount" jdbcType="DECIMAL" property="withdrawAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="withdraw_account" jdbcType="VARCHAR" property="withdrawAccount" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="withdraw_fee" jdbcType="DECIMAL" property="withdrawFee" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="bank_card_id" jdbcType="INTEGER" property="bankCardId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="auditor_time" jdbcType="TIMESTAMP" property="auditorTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
</mapper>