<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfhy.egold.domain.sys.dao.AppVersionMapper">
  <resultMap id="BaseResultMap" type="com.zfhy.egold.domain.sys.entity.AppVersion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="version_code" jdbcType="VARCHAR" property="versionCode" />
    <result column="version_name" jdbcType="VARCHAR" property="versionName" />
    <result column="apk_url" jdbcType="VARCHAR" property="apkUrl" />
    <result column="change_log" jdbcType="VARCHAR" property="changeLog" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="update_tips" jdbcType="VARCHAR" property="updateTips" />
    <result column="upgrade_time" jdbcType="TIMESTAMP" property="upgradeTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="force_update" jdbcType="VARCHAR" property="forceUpdate" />
  </resultMap>
</mapper>