<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 帮助中心</title>
    <script type="text/javascript" src="/js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <style type="text/css"></style>

</head>
<body>
<div class="top_title">
    <div class="return"><img src="/images/return.png"/></div>
    <p class="title">帮助中心</p>
</div>
<div class="my_order_detail">
    <ul class="list_title">
        <li th:each="article:${articleList}">
            <a href="#" th:href="@{'/news/infoContent?id='+${article.id}}"><span th:text="${article.title}">新手指引</span>
                <span
                        class="greater">&gt;</span></a>
        </li>
    </ul>
</div>
<div th:replace="include/template::commonJavascript"></div>
</body>
</html>