<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 关于我们</title>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../css/css_reset.css"/>
    <link rel="stylesheet" href="../css/pc.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <style type="text/css">

    </style>
</head>
<body class="body">

<div id="wrapper_news_list">
    <div th:include="pc/include/template :: header(tab='aboutUs')"></div>

    <div style="border:8px solid #f5f5f5"></div>
</div>

<div class="news_list_wrapper">
    <div class="tr">
        <div class="td left">
            <ul>
                <li>
                    <a class="active" href="/pc/aboutUs">关于我们</a>
                </li>
                <li>
                    <a href="/pc/teamIntroduction">团队介绍</a>
                </li>
                <li >
                <a href="/pc/specialist">专家顾问</a>
                </li>
                <li>
                    <a href="/pc/contactUs">联系我们</a>
                </li>
            </ul>


        </div>
        <div class="td middle"></div>
        <div class="td right">
            <div class="caption"><span style="font-size:30px;margin-right:20px">&bull;</span>关于我们</div>
            <div class="detail_table">
                <div class="detail_tr">

                    <div class="detail_td">
                        <p class="introduction">
                            E黄金是由广东兆丰恒业黄金有限公司（中国黄金协会会员单位、广东黄金协会副会长单位）全资打造的一个专注于黄金供应链金融的互联网黄金平台，致力于为普通消费者和不同阶层投资者打造“买金零差价”、“存金生利息”以及“黄金资产多元化配置”等一站式综合服务。</p>

                        <p class="introduction">
                            产品1元起购，金价实时对接上海黄金交易所，我们提供了活期金、定期金、涨跌金等多种黄金增值产品供用户选择。在这里，你买入的每1克黄金都将为你赚取稳健的固定收益，同时还可享受金价变动带来的额外收益，另外我们还提供了免费存金服务，到期后你可以选择直接提现或提取实物黄金。</p>

                        <p class="introduction">
                            我们的所有实物黄金均来自上海黄金交易所的现货黄金，没有中间商赚差价，保证用户以最低价买金，同时所有的资金账户都由保险公司承保，资金由第三方支付托管，保障用户的投资安全，另外，我们还在全国范围内设置网点，最大限度确保用户买金、存金和提金的便捷性。</p>
                    </div>
                </div>

            </div>

            <div class="detail_table">
                <div class="detail_tr">

                    <div class="detail_td">
                        <p class="title">
                            <img
                                    src="../pcImages/aboutUs/zhizhao.png"/>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:include="pc/include/template :: homeFooter"></div>
</body>

</html>