<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 关于我们</title>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../css/css_reset.css" th:href="@{/css/css_reset.css}"/>
    <link rel="stylesheet" href="../css/pc.css" th:href="@{/css/pc.css}"/>
    <link rel="shortcut icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <style type="text/css">
        .body {
            background: none;
        }

        .page_banner {
            background: url("../pcImages/understandUs/understand_us_top_banner.jpg") center top no-repeat;
            background-size: 1920px 1307px;
        }
    </style>
</head>
<body class="body">
<div id="wrapper_login">
    <div th:include="pc/include/template :: header(tab='understandProduct')"></div>
</div>
<div class="page_banner">
    <div style="width:1200px; height:1307px;"></div>
</div>
<div class="understand_us_page">
    <img src="../pcImages/understandUs/understand_us_08.jpg" th:src="@{/pcImages/understandUs/understand_us_08.jpg}"/>
    <img src="../pcImages/understandUs/understand_us_11.jpg" th:src="@{/pcImages/understandUs/understand_us_11.jpg}"/>
    <img src="../pcImages/understandUs/understand_us_14.jpg" th:src="@{/pcImages/understandUs/understand_us_14.jpg}"/>
    <img src="../pcImages/understandUs/understand_us_17.jpg" th:src="@{/pcImages/understandUs/understand_us_17.jpg}"/>
    <img src="../pcImages/understandUs/understand_us_20.jpg" th:src="@{/pcImages/understandUs/understand_us_20.jpg}"/>
    <a th:href="@{/pc/gotoRegister}"><img src="../pcImages/understandUs/understand_us_23.jpg"
                                          th:src="@{/pcImages/understandUs/understand_us_23.jpg}"/></a>
</div>
<div th:include="pc/include/template :: homeFooter"></div>
</body>

</html>