<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfhy.egold.domain.member.dao.BankcardUnbindApplicationMapper">
  <resultMap id="BaseResultMap" type="com.zfhy.egold.domain.member.entity.BankcardUnbindApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="idcard_front_img" jdbcType="VARCHAR" property="idcardFrontImg" />
    <result column="idcard_back_img" jdbcType="VARCHAR" property="idcardBackImg" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="origin_bank_card" jdbcType="VARCHAR" property="originBankCard" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
</mapper>