<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" type="hidden" th:value="${memberFund.id}">



                        <div class="form-group">
                            <label class="col-sm-3 control-label" >会员id：</label>
                            <div class="col-sm-8">
                                <input id="memberId" name="memberId" class="form-control" data-rule-required="true" data-rule-number="true"	type="text" th:value="${memberFund.memberId}" >
                            </div>
                        </div>
                    


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >余额：</label>
                            <div class="col-sm-8">
                                <input id="cashBalance" name="cashBalance" class="form-control" data-rule-required="true" 	type="text" th:value="${memberFund.cashBalance}" >
                            </div>
                        </div>
                    


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >定期黄金余额：</label>
                            <div class="col-sm-8">
                                <input id="termGoldBalance" name="termGoldBalance" class="form-control" data-rule-required="true" 	type="text" th:value="${memberFund.termGoldBalance}" >
                            </div>
                        </div>
                    


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >活期黄金余额：</label>
                            <div class="col-sm-8">
                                <input id="currentGoldBalance" name="currentGoldBalance" class="form-control" data-rule-required="true" 	type="text" th:value="${memberFund.currentGoldBalance}" >
                            </div>
                        </div>
                    


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >投资余额：</label>
                            <div class="col-sm-8">
                                <input id="investBalance" name="investBalance" class="form-control" data-rule-required="true" 	type="text" th:value="${memberFund.investBalance}" >
                            </div>
                        </div>
                    


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >版本号：</label>
                            <div class="col-sm-8">
                                <input id="version" name="version" class="form-control" data-rule-required="true" data-rule-number="true"	type="text" th:value="${memberFund.version}" >
                            </div>
                        </div>
                    


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >备注：</label>
                            <div class="col-sm-8">
                                <input id="remarks" name="remarks" class="form-control" data-rule-required="true" 	type="text" th:value="${memberFund.remarks}" >
                            </div>
                        </div>
                    



                        <div class="text-center form-group">
                            <a class="btn btn-default waves-effect waves-light"
                               onclick="returnList()">返回列表</a>
                            <button class="btn btn-primary waves-effect waves-light"  type="submit">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/appjs/fund/memberFund/edit.js"></script>
</body>

</html>
