<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div id="exampleToolbar" role="group">
                    <div class="form-group col-sm-6">
                        <input id="searchTitle" type="text" class="form-control"
                               placeholder="标题">
                    </div>
                    <div class="form-group col-sm-6">
                        <select class="form-control m-b" id="searchArticleType" name="searchArticleType">
                            <option value="">--请选择文章类型--</option>
                            <option th:each="item:${articleTypes}" th:value="${item.code}" th:text="${item.label}">选项 1</option>
                        </select>
                    </div>
                    <button class="btn btn-success" onclick="reLoad()">查询</button>
                    <button shiro:hasPermission="cms:hotInfo:add" type="button" class="btn btn-primary" onclick="add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button shiro:hasPermission="cms:hotInfo:batchRemove" type="button" class="btn btn-danger"
                            onclick="batchRemove()">
                        <i class="fa fa-trash" aria-hidden="true"></i>删除
                    </button>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
            var s_publish_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="cms:hotInfo:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="cms:hotInfo:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
    <div shiro:hasPermission="cms:hotInfo:publish">
        <script type="text/javascript">
            var s_publish_h = '';
        </script>
    </div>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/cms/hotInfo/hotInfo.js">

</script>
</body>

</html>