<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8"/>
        <title>E黄金 - 安全保障</title>
        <meta name="keywords" content="黄金买卖，黄金投资"/>
        <meta name="description" content="黄金买卖，黄金投资"/>
        <link rel="stylesheet" href="../css/css_reset.css" th:href="@{/css/css_reset.css}"/>
        <link rel="stylesheet" href="../css/pc.css" th:href="@{/css/pc.css}"/>
        <style type="text/css">
            .body{
                background: none;
            }
            .page_banner {
                background: url("../pcImages/securityGuard/aqbz_top_banner.jpg") center top no-repeat;
                background-size: 1920px 456px;
            }
        </style>
    </head>
<body class="body">
<div class="page_banner">
    <div style="width:1200px; height:456px;"></div>
    <!--<img src="../pcImages/securityGuard/aqbz_pc_02.jpg" th:src="@{/pcImages/securityGuard/aqbz_pc_02.jpg}"/>-->
</div>
<div class="security_guard_page">
    <img src="../pcImages/securityGuard/aqbz_pc_05.jpg"/>
    <img src="../pcImages/securityGuard/aqbz_pc_08.jpg"/>
    <img src="../pcImages/securityGuard/aqbz_pc_11.jpg"/>
    <img src="../pcImages/securityGuard/aqbz_pc_14.jpg"/>
    <img src="../pcImages/securityGuard/aqbz_pc_17.jpg"/>
    <img src="../pcImages/securityGuard/aqbz_pc_20.jpg"/>
</div>
</body>

</html>