<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 关于我们</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../widget/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <style type="text/css">
        /*html, body {*/
            /*background: white;*/
        /*}*/
    </style>
</head>
<body>
<div>
    <div class="top_title">
        <div class="return"><img src="../images/return.png"/></div>
        <p class="title">关于我们</p>
        <div class="right"></div>
    </div>
    <div class="bg_F5F5F5 h_12 w_100p"></div>
    <div class="detail_table_2">
        <div class="detail_row"><span class="detail_caption color_666666">客服电话</span><span
                class="detail_desc color_929292 sysMobile"></span></div>
        <div class="detail_row"><span class="detail_caption ">QQ官方交流群</span><span
                class="detail_desc color_929292 sysQQ"></span></div>

        <div class="detail_row"><span class="detail_caption ">微信公众号</span><span
                class="detail_desc color_929292 sysWechat">&nbsp;</span></div>

        <div class="detail_row "><span class="detail_caption ">客服邮箱</span><span
                class="detail_desc color_929292 sysEmail">&nbsp;</span></div>

        <a href="http://www.egoldvip.com" target="_blank" class="sysWebSiteUrl"><div class="detail_row color_666666"><span class="detail_caption ">官方网站</span><span
                class="detail_desc color_929292 sysWebSite">&nbsp;&nbsp;&gt;</span></div></a>
        <div class="bg_F5F5F5 h_12 w_100p"></div>

        <div class="detail_row" id="userAgreement"><span class="detail_caption ">用户协议</span><span
                class="detail_desc color_929292 ">&nbsp;&gt;</span></div>

    </div>

</div>
<div th:replace="include/template::footer"></div>
<script type="text/javascript" src="../js/wap/myAccount.js"></script>
</body>
</html>