<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 会赚钱的黄金</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../widget/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
</head>
<body>

<div class="register">
    <div class="top_title">
        <div class="return"><img src="../images/return.png"/></div>
        <p class="title">注册</p>
    </div>
    <div class="register_detail_list">
        <p class="register_phone"><img src="../images/phone.png"/></p>
        <p class="info">请输入验证码 <span class="count_down">已发送120秒</span></p>
        <div class="input_telephone">
            <div class="input_clear"><span>x</span></div>
            <input type="number" required="required" placeholder="请输入手机号" class="need_input_clear">
        </div>
        <div class="agree_to_protocol"><input type="checkbox" name="agree" id="agree"/><span><label for="agree">我已阅读并同意E黄金服务协议</label></span>
        </div>
        <button type="submit" class="submit_button">注册</button>
        <p class="third_party_login">第三方登录</p>
        <a href="#"><p class="register_wechat">
            <img src="../images/register_wechat.png"/>
            <span class="color_929292">微信登录</span>
        </p>
        </a>

        <a href="#">
            <p class="register_aliyun">
                <img src="../images/register_aliyun.png"/>
                <span class="color_929292">阿里云登录</span>
            </p>
        </a>

        <p class="color_929292 info2 ">用户信息加密存储保障您的信息安全</p>

    </div>
</div>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/wap/common.js"></script>
<script type="text/javascript" src="../widget/mui/js/mui.min.js"></script>
<script type="text/javascript" src="../js/fastclick.js"></script>
<script type="text/javascript" src="../js/wap/user.js"></script>
<script type="text/javascript" src="../js/wap/getcode.js"></script>
<script type="text/javascript">


</script>
</body>

</html>