<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 邀请有礼</title>
    <script type="text/javascript" src="/js/flexible.js"></script>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/reveal.css"/>
    <style type="text/css"></style>
</head>
<body>
<div id="friend_first_invest_model" class="reveal-modal">
    <img src="../images/invitation/detail1.png"/>
</div>
<div id="all_year_refund_model" class="reveal-modal">
    <img src="../images/invitation/detail2.png"/>
</div>

<div class="top_title">
    <div class="return"><img src="../images/return.png"/></div>
    <p class="title">邀请送黄金</p>
    <div class="right"></div>
</div>
<div class="invitation_page">
    <div class="my_invitation">
        <!--我的邀请-->
        <a href="/user/myInvitation"><img class="check_detail"
             src="../images/invitation/my_invitation_btn.png"/></a>
        <img src="../images/invitation/yqyl_01.jpg"/>
    </div>
    <img src="../images/invitation/yqyl_02.jpg"/>
    <div class="friend_first_invest">
        <img src="../images/invitation/yqyl_03.jpg"/>
        <!--好友首投-->
        <a href="#" data-reveal-id="friend_first_invest_model">
            <div class="check_detail">查看详情</div>
        </a>
    </div>
    <div class="all_year_refund">
        <img src="../images/invitation/yqyl_04.jpg"/>
        <!--一次邀请,全年返利-->
        <a href="#" data-reveal-id="all_year_refund_model">
            <div class="check_detail">查看详情</div>
        </a>
    </div>
    <img src="../images/invitation/yqyl_05.jpg"/>
</div>
<div th:replace="include/template::footer"></div>
<script type="text/javascript" src="../js/wap/invitation.js"></script>
<script type="text/javascript" src="../widget/reveal/jquery.reveal.js"></script>
</body>
</html>