<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>E黄金 - 我的</title>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <meta name="keywords" content="黄金买卖，黄金投资"/>
    <meta name="description" content="黄金买卖，黄金投资"/>
    <link rel="stylesheet" href="../widget/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <style type="text/css">
        html, body {
            background: #f5f5f5;
        }
    </style>
</head>
<body>
<div>
    <!--<th:block th:replace="include/template::downloadApp"></th:block>-->

    <div class="top_title">
        <div class="return"><img src="../images/return.png"/></div>
        <p class="title">账户</p>
        <div class="right"></div>
    </div>
    <th:block th:if="${session.auth_member_session!= null}">
        <div class="df jc_center ai_center background_white" id="toMyInfo">
            <p class=" pl_25 pr_25 m32 w_120"><img class="height_width_96" src="../images/head_sculpture.png"/></p>
            <p class="f2 fz_38 ta_left">
                <span th:text="${mobile}"></span>
            </p>
            <p class="f1 ta_right pr_25 fz_38">&gt;</p>
        </div>
        <div class="bg_F5F5F5 h_12 w_100p"></div>

        <div id="my-bank-card" class="df jc_center ai_center background_white">
            <p class="pl_25 pr_25 m32 w_120"><img class="height-width-40" src="../images/my_bank_card.png"/></p>
            <p class="f2 fz_38 ta_left"> 我的银行卡</p>
            <p class="f1 ta_right pr_25 fz_38">&gt;</p>
        </div>
    </th:block>
    <th:block th:if="${session.auth_member_session== null}">
        <a href="/user/toRegisterLogin">
            <div class="df jc_center ai_center background_white">
                <p class=" pl_25 pr_25 m32 w_120"><img class="height_width_96" src="../images/head_sculpture.png"/></p>
                <p class="f2 fz_38 ta_left">
                    请先登录
                </p>
                <p class="f1 ta_right pr_25 fz_38">&gt;</p>
            </div>
            <div class="bg_F5F5F5 h_12 w_100p"></div>
        </a>
    </th:block>


    <div class="bg_F5F5F5 h_12 w_100p "></div>
    <div class="bg_F5F5F5 h_12 w_100p "></div>
    <div class="df jc_center ai_center background_white">
        <p class="pl_25 pr_25 m32 w_120"><img class="height-width-40" src="../images/version.png"/></p>
        <p class="f2 fz_38 ta_left">版本号</p>
        <p class="f1 ta_right pr_25 fz_38">1.0</p>
    </div>
    <div class="df jc_center ai_center background_white" id="toAboutUs">
        <p class="pl_25 pr_25 m32 w_120"><img class="height-width-40" src="../images/about_us.png"/></p>
        <p class="f2 fz_38 ta_left">关于我们</p>
        <p class="f1 ta_right pr_25 fz_38">&gt;</p>
    </div>

    <div class="df jc_center ai_center background_white">
        <p class="pl_25 pr_25 m32 w_120"><img class="height-width-40" src="../images/password_manage.png"/></p>
        <p class="f2 fz_38 ta_left downloadApp">密码管理</p>
        <p class="f1 ta_right pr_25 fz_38">&gt;</p>
    </div>

    <th:block
            th:if="${session.auth_member_session!=null}">
        <div class="df jc_center ai_center">
            <button class="logout_btn ta_center fz_38 color_ff8800 border_color_ff8800 border_radius_10 border_2 w_80p h_100 m32">
                安全退出
            </button>
        </div>
    </th:block>
</div>
<div th:replace="include/template::footer"></div>
<script type="text/javascript" src="/widget/reveal/jquery.reveal.js"></script>
<script type="text/javascript" src="../js/wap/myAccount.js"></script>
</body>
</html>